@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,500;0,700;1,300;1,400;1,700&display=swap');
*{
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

body{
	background-color: #eee;
	width: 100%;
}

section{
	position: relative;
	width: 100%;
	height: 35vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
}

section::before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 100vh;
	height: 100%;
	background-color: #ebd6f5;
	border-radius: 50%;
	transform-origin: bottom;
	transform: translateX(-50%) scale(4);
}

button:hover{
	opacity: 0.7;
}

.titulo h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-2deg);
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
  margin: 0;
  padding: 0;
  color: #9932CC;
  font-size: 65px;
  font-weight: bold;
  -webkit-text-stroke: 1px #000;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.titulo h1::before{
    content: attr(data-title);
    position: absolute;
    top: -4px;
    left: -2.5px;
    text-shadow: 0 2px 2px rgba(0 , 0, 0, .5);
    color: #ebd6f5;
    transition: .5s;
}

.titulo h1::after{
    content: attr(data-title);
    position: absolute;
    top: -8px;
    left: -5px;
    text-shadow: 0 2px 2px rgba(0 , 0, 0, .5);
    color: #fff;
    transition: .5s;
}

.titulo h2{
	position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
  margin: 0;
  padding: 0;
  color: #9932CC;
  font-size: 26px;
  letter-spacing: 1px;
  text-align: center;
}


@media screen and (max-width:900px) {
	section::before{
		width: 60vh;
	}
	.titulo h1{
		font-size: 60px;
	}
	.titulo h2{
		font-size: 25px;
	}
}

@media screen and (max-width:700px) {
	section::before{
		width: 50vh;
	}
	.titulo h1{
		font-size: 55px;
	}
	.titulo h2{
		font-size: 23px;
	}
}

@media screen and (max-width:500px) {
	section::before{
		width: 45vh;
	}
	.titulo h1{
		font-size: 48px;
	}
	.titulo h2{
		font-size: 21px;
	}
}

@media screen and (max-width:370px) {
	section::before{
		width: 40vh;
	}
	.titulo h1{
		font-size: 45px;
	}
	.titulo h2{
		font-size: 19px;
	}
}

@media screen and (max-width:290px) {
	section::before{
		width: 40vh;
	}
	.titulo h1{
		font-size: 35px;
	}
	.titulo h2{
		font-size: 17px;
	}
}

/*.titulo h1 span{
	margin: -6px;
	animation: textando 1s linear infinite;
}
.titulo h1 span:nth-child(9n+1){
	animation-delay: 0.5s;
}
.titulo h1 span:nth-child(9n+2){
	animation-delay: 2.5s;
}
.titulo h1 span:nth-child(9n+3){
	animation-delay: 1.8s;
}
.titulo h1 span:nth-child(9n+4){
	animation-delay: 1.3s;
}
.titulo h1 span:nth-child(9n+5){
	animation-delay: 2.2s;
}
.titulo h1 span:nth-child(9n+6){
	animation-delay: 1.35s;
}
.titulo h1 span:nth-child(9n+7){
	animation-delay: 2.7s;
}
.titulo h1 span:nth-child(9n+8){
	animation-delay: 1.4s;
}

@keyframes textando{
	0%,100%
	{
		color: #9932CC;
	}
}

@keyframes subtitulo{
	0%,100%{
		color: #9932CC;
	}
}*/

form{
	width: 100%;
	margin-top: 30px;
	background: #fff;
}

form .props{
	width: 250px;
	margin-top: 20px;
}

.text-area{
  margin-top: 20px;
}

textarea {
  width: 80%;
  height: 300px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #9932CC;
  border-radius: 10px;
  background-color: #fff;
  font-size: 16px;
}

.copiar{
	margin-top: 20px;
}

.copiar p{
	margin-top: 10px;
	text-align: center;
	font-weight: bold;
	visibility: hidden;
}

#topBtn{
  position: fixed;
  width: 50px;
  height: 50px;
  background: #9932CC;
  bottom: 40px;
  right: 30px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;

  border-radius: 50%;

  display: none;
}

.footer{
	background-color: #ebd6f5;
	padding-top: 20px;
}

.footer p{
	text-align: center;
}

.footer span{
	color: #9932CC;
}

.footer p a{
	text-decoration: none;
	color: #9932CC;
}

.footer p a:hover{
	opacity: 0.7;
}